body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.container {
	width: 100%;
	max-width: 1000px;
	position: relative;
	margin: 30px auto;
}
